@tailwind base;
@tailwind components;
@tailwind utilities;

/* Corpo fontes: 300 a 700 */

@layer components {
    body {
        @apply m-0 p-0 box-border font-worksans ;
    }

    strong{
        @apply font-bold;
    }

    .bpvisor {
        @apply fixed bottom-0 w-8 h-8 left-0 z-50 bg-gray-400 sm:bg-yellow-400 md:bg-red-600 lg:bg-blue-500 xl:bg-green-400 2xl:bg-gray-800 text-center;
        p {
            @apply font-bold text-lg;
            &::before {
                content: "xs";
            }
        }
        @media (min-width: 640px) {
            p::before {
                content: "sm";
            }
        }
        @media (min-width: 768px) {
            p::before {
                content: "md";
            }
        }
        @media (min-width: 1020px) {
            p::before {
                content: "lg";
            }
        }
        @media (min-width: 1214px) {
            p::before {
                content: "xl";
            }
        }
        @media (min-width: 1536px) {
            p::before {
                content: "2xl";
            }
        }
    }

    .navbar-burger {
        @apply fixed top-5 right-5 md:top-10 md:right-10  bg-rosa rounded-full z-50 transition-all duration-300 block
        w-[70px] h-[70px]
        md:w-[90px] md:h-[90px];
    }
    .navbar-burger.is-active {
        @apply bg-roxo
    }

    .navbar-burger span {
        @apply absolute bg-white  block transition-all duration-300 left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 h-2 w-[42px] md:h-[10px] md:w-[52px];
    }
    .navbar-burger span:nth-child(1) {
        @apply top-7 md:top-9 rotate-3;
    }

    .navbar-burger span:nth-child(2) {
        @apply top-11 md:top-14 -rotate-1 ;
    }

    .navbar-burger.is-active span:nth-child(1) {
        @apply translate-y-1 rotate-45 bg-laranja;
    }
    .navbar-burger.is-active span:nth-child(2) {
        @apply -translate-y-3 md:-translate-y-4 -rotate-45 bg-amarelo;
    }
    .header {

    }

    .header.is-spying {
        @apply bg-white border-green-500;
    }
  

    .secondaryNav{
        @apply fixed top-0 h-screen right-0 bg-laranja w-10/12 md:w-6/12 lg:w-5/12 xl:w-4/12 flex flex-col z-10 p-6 duration-500 transition-all translate-x-full;

        nav{
            @apply h-full pt-3 md:pt-20 flex flex-col items-end justify-between
        }

        &__menu {
            @apply mb-4 pt-20 flex flex-col w-full items-end;
            li{
                @apply mb-3 md:mb-4 w-full text-right last-of-type:mt-4;
                a{
                    @apply  leading-tight text-white font-medium hover:text-roxo duration-300 transition-all 
                    text-xl
                    md:text-[26px]
                    2xl:text-3xl
                    ;
                }
            }
            li.small{
                @apply w-full text-right mb-1;
                a{
                    @apply text-base md:text-xl font-normal 2xl:text-[25px]
                }
            }
        }

        &__btn {
            @apply text-right flex flex-col items-end;

            img{
                @apply w-8 md:w-[50px] mb-2;
            }

            div{
                @apply text-white text-lg md:text-[26px] 2xl:text-3xl leading-tight;

                span{
                    @apply font-bold block;
                }
            }
        }
    }

    .secondaryNav.is-active{
        @apply translate-x-0;
    }

    video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .full-width {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}